<div class="row text-center title-row">

  <div class="small-12 small-centered columns normal show-for-medium">
    <img src="https://static.pexels.com/photos/136745/pexels-photo-136745.jpeg" class="title-image"/>
    <div class="row">
      <div class="small-12 small-centered columns">
        <h1 class="text-center">Candy Monster</h1>
      </div>
    </div>
  </div>
  <div class="small-12 small-centered columns mobile show-for-small-only">
    <img src="https://static.pexels.com/photos/136745/pexels-photo-136745.jpeg" class="title-image"/>
    <div class="row">
      <div class="small-12 small-centered columns">
        <h1 class="text-center">Candy Monster</h1>
      </div>
    </div>
  </div>
</div>

<div class="row form">
  <div class="small-6 small-centered columns">
    <%= form_for (@candy) do |f| %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>

      <%= f.label :image_url, "Image URL" %>
      <%= f.text_field :image_url %>

      <%= f.submit "Add Candy!", class: "button round" %>
    <% end %>
  </div>
</div>

<div class="candy-list row" id="app">
</div>
